<% decorated_todo = todo.decorate %>

<h2><%= decorated_todo.title %></h2>
<p><%= decorated_todo.completion_status %></p>
<p><span class='small'>Created on <%= decorated_todo.created_at %></small></p>
